@import url('https://fonts.googleapis.com/css?family=Raleway:300');

@import 'vendor/carousel';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif;
  background: #fff;
  color: #333;
}

.container {
  padding: 18px;
}

button {
  cursor: pointer;
}

div.drag-drop {
  margin: auto;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  input[type=file] {
    display: none;
  }

  div.dropzone {
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: -9px;
  }
}

.google-map {
  height: 50vh;
  border: 1px solid black;
}

.navbar {
  background-color: white;
  box-shadow: 3px 3px 5px #888888;
}

.nav-link {
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  }

//=================homepage===================

.HomePageContent {
  text-align: center;
  // border: 1px solid white;

  .HomePageContentInner {
    border-radius: 3px;
    height: 25%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    border: 1px solid white;

    .HomePageLoginButton {
      a {
        background: white;
        color: black;
      }
    }
  }

}

.HomePage {
  height: 100vh;
  background-image: url('../images/listening.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

//==============================================

//==============edit form page =================

.EditSection {
  margin: auto;
  width: 50%;
  border-radius: 3px;
  padding: 10px;
}

.EditContainer {
  height: 100vh;
  background-image: url('../images/listening.jpg');
  background-blend-mode: overlay;
  background: contain;
  background-color: rgba(64, 64, 65, 0.99);
  display: flex;
  justify-content: center;
  align-items: center;
}

.EditForm {
  margin: auto;
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  background-color: white;
  input {
    border: 1px solid black;
    border-radius: 3px;
    button {
      border-radius: 3px;
    }
  }
}

// img {
//   &:hover {
//     transition: 1s;
//     animation: jiggle 1s infinite;
//   }
// }
//
// @keyframes jiggle {
//   0% {transform: scale(1);}
//   50% {transform: scale(1.1);}
//   100% {transform: scale(1);}
// }
//======================================



//==================Index page==================

.userIndex {
  // border: 2px solid black;
  height: 100vh;
  background-image: url('../images/map.jpg');
  background-position: center;
  background-color: rgba(255, 255, 255, 0.13);
  background-blend-mode: overlay;
  h1{
    padding: 3px;
    align-content: center;
  }
}

.usersIndexButton {

  border-radius: 3px;
  background: rgba(255, 255, 255, 0.86);
  color: black;
  border: 1px solid;
  float:left;
  width: max-content;
  span {

  }
}


.UsersSection {
  float:left;
  padding: 4px;
  margin: 4px;
  a {
    color: black;
    font-weight: 400;
  }
}

//===============================

h1 {
  font-size: 24px;
}


.fa-cutlery {
  position: relative;
  top: -55px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 60px;
  color: #eee;
  background: #fff;
  padding: 0 30px;
}

.image-tile {
  margin-bottom: 30px;

  img {
    width: 100%;
    border-radius: 2px;
    padding: 4px;
    background: rgba(72, 78, 76, 0.4);
  }
}

button, .main-button, .standard-button {
  margin-bottom: 20px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  outline: none;
  display: inline-block;

  i {
    margin-right: 5px;
  }
}

.standard-button {
  background: #58b955;
  border-radius: 33px;
  border: none;

  &:hover, &:focus {
    color: #fff;
    background: darken(#ccc, 10%);
  }
}

.main-button {
  background: #121111;
  border-radius: 3px;

  &:hover, &:focus {
    color: #fff;
    background: darken(#F31812, 10%);
  }
}

.save-button {
  background: #378B2E;
  border: 1px solid lighten(#378B2E, 10%);

  &:hover, &:focus {
    color: #fff;
    background: darken(#378B2E, 10%);
  }
}

i {
  margin-right: 5px;
}

main {
  padding-top: 50px;
}

//========== usersShow ===============

.carousel {
  background-color: white;
  .control-dots {
    line-height: 0.7;
    display: none;
  }
}

.userShowCarousel{
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px;
  margin: 4px;

}

.carousel.carousel-slider .control-arrow {
  font-size: 26px;
  padding: 5px;
  background-color: gray;
  height: 80%;
}

.carousel-audio {
  background-color: blue;
  border-radius: 3px;
  input {
    color: red;
  }
}

.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: rgba(0, 0, 0, 0);
}

// ======================================


@media screen and (max-width: 750px) {
  .fa-cutlery {
    display: none;
  }
}
